.container {
  /* display: grid; */
  /* justify-items: flex-start; */
  /* align-items: flex-start; */
}

.container-img {
  height: 150px;
  width: 500px;
}

img {
  height: 150px;
  width: 100%;
}

p {
  text-align: justify;
}
