.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
}

.form-area {
  background-color: rgb(113, 216, 113);
  padding: 0.5rem;
  color: #fff;
}

.resultArea {
  background-color: rgb(113, 216, 113);
  padding: 0.5rem;
  color: #fff;
}

.btn {
  text-align: center;
  margin: 2rem;
}
.btn button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
}
